<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table, tr, th, td{
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Sent On</th>
      <th>Status</th>
    </tr>
    {% for message in messages %}
      <tr>
        <td>{{ message.from }}</td>
        <td>{{ message.to }}</td>
        <td>{{ message.body }}</td>
        <td>{{ message.date_sent }}</td>
        <td>{{ message.status }}</td>
      </tr>
    {% endfor %}
  </table>
</body>
</html>